[Unit]
Description=iEdon PeerAPI Agent Service
After=network.target
After=bird.service

[Service]
Type=simple
User=root
WorkingDirectory=/data/peerapi-agent/
ExecStart=/data/peerapi-agent/peerapi-agent -c /data/peerapi-agent/config.json
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
